*{margin:0;padding;0};
html{
   background-color: #821510; 
}

header{
    background-color: #821510;
}

body{
    background: #fff;
}

buttonBus{
    text-align: center;
    background-color:black;
    border-radius:6px;
    box-shadow: inset 6px 2px 6px blue;
    cursor:pointer;
    color:whitesmoke;
    display:inline-block;
    height: 20px;
    width: 45px;
    font-family:sans-serif;
    font-size:15px;
    font-weight: bold;
    padding:5px;
    border: 1px solid grey;
    position:relative;
    bottom: -150px;
    
}
buttonYou{
    text-align:center;
    background-color:black;
    border-radius:6px;
    box-shadow: inset 6px 2px 6px blue;
    cursor:pointer;
    color:whitesmoke;
    display:inline-block;
    height: 20px;
    width: 45px;
    font-family:sans-serif;
    font-size:15px;
    font-weight: bold;
    padding:5px;
    border: 1px solid grey;
    position:relative;
    right: -100px;
    bottom: -150px;
    
    
    
}
buttons.hover{
    background-color: #aaaaaa;
}
pBus{
    color:black;
    position:relative;
    bottom: px;
    right: -150px;
    bottom: -100px;
    
}
pYou{
    color:black;
    position:relative;
    right: -200px;
    bottom: -100px;
}

buttonHome{
     background-color:black;
    border-radius:6px;
    box-shadow: inset 6px 2px 6px blue;
    cursor:pointer;
    color:whitesmoke;
    display:inline-block;
    height: 20px;
    width: 45px;
    font-family:sans-serif;
    font-size:15px;
    font-weight: bold;
    padding:5px;
    border: 1px solid grey;
    position:relative;
}
ul.list{
    color: #fff;
    background-color: #0f0f0f;
    display: inline-block;
    width: auto;
    list-style-type: none;
    box-shadow:0 0 10px 0 #000;
    margin-top: 10vh;
}
ul.list li{
    display: inline-block;
    padding: 15px 40px;
    border-radius:5px;
    background-color: #212121;
    border-bottom: 2px solid #0f0f0f;
    box-shadow: inset 6px 2px 6px blue;
}
ul.list li:hover{
    background-color: #aaaaaa;
    color:white;
    cursor:pointer;
    opacity: 1;
}

ul.sublist{
    box-shadow: inset 6px 2px 6px blue;
    text-decoration:none;
    color: #fff;
    display:none;
    position:absolute;
    display:block;
    box-shadow: 0 0 10px 0 #000;
    margin-left: -80px;
    margin-top: 18px;
}
ul.sublist li{
    display:block;
}



