{% load static %}

<html>
    <head>
        <title>My DashBoard</title>
        <link rel="icon" href="{% static 'social/images/logo-square.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'social/dashboardStyle.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <img id="logo"src="{% static 'social/images/logo-transparent-light.png' %}"/>
                <li>Home</li>
                <li>Message</li>
                <li>Organisations</li>
                <li>Notifications</li>
                <li id="offset">Settings</li>
            </ul>
        </nav>
        <section class="postsContainer">
            <section class="post">
                <section class="author">
                    <section class="authorID">
                        <img class="authorPic" src="#">
                        <h2 class="authorName">Robert Nixon</h2>
                    </section>
        
                    <p class="postDate">16/03/2019</p>
                </section>
                <section class="content">
                    <p>Hi guys, this is my team! we have come a long way and I am immensely proud of all of them.
                        Our team is called: Organise-Us (its a working title). Over the past 7 sprints we have 
                        developed the back end as well as the front end.</p>
                </section>
                <section class="photos">
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/rob.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/sam.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/lydia.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/alex.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/abel.jpg"/>
                </section>
            </section>
            <section class="post">
                <section class="author">
                    <section class="authorID">
                        <img class="authorPic" src="#">
                        <h2 class="authorName">Robert Nixon</h2>
                    </section>

                    <p class="postDate">16/03/2019</p>
                </section>
                <section class="content">
                    <p>Hi guys, this is my team! we have come a long way and I am immensely proud of all of them.
                        Our team is called: Organise-Us (its a working title). Over the past 7 sprints we have
                        developed the back end as well as the front end.</p>
                </section>
                <section class="photos">
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/rob.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/sam.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/lydia.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/alex.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/abel.jpg"/>
                </section>
            </section>
            <section class="post">
                <section class="author">
                    <section class="authorID">
                        <img class="authorPic" src="#">
                        <h2 class="authorName">Robert Nixon</h2>
                    </section>

                    <p class="postDate">16/03/2019</p>
                </section>
                <section class="content">
                    <p>Hi guys, this is my team! we have come a long way and I am immensely proud of all of them.
                        Our team is called: Organise-Us (its a working title). Over the past 7 sprints we have
                        developed the back end as well as the front end.</p>
                </section>
                <section class="photos">
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/rob.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/sam.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/lydia.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/alex.jpg"/>
                    <img class="postPics" src="../../../../../../../../../Downloads/organise-us-abel_NextStage/organise-us-abel_NextStage/images/abel.jpg"/>
                </section>
            </section>
        </section>
    </body>
</html>