@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

a {
    color: #003366;
}

.row {
    width: 100%;
}

#nav ul {
    list-style-type: none;
    float: right;
}

#nav ul li {
    display: inline-block;
    padding-top: 20px;
    margin-right: 3px;
}

#nav ul li:nth-last-child(1), li:nth-last-child(2), li:nth-last-child(3) {
    float: none;
    display: inline-block;
}

.card {
    margin: 8px;
}

#profile-image {
    width: 70px;
    height: 70px;
}



.post {
    width: 80%;
    margin: 20px auto;
    border-style: solid;
    border-radius: 30px;
    border-color: #ddd;
    padding: 1em 5em;
}

.author {
    display: flex;
    justify-content: space-between;
}

.authorPic {
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

.authorName {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;

}

.authorID {
    display: flex;
}

.postDate {
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.content p {
    font-family: 'Montserrat', sans-serif;
}